.treat__wrapper{
    position: relative;      
    display: flex;



    &-list{
        display: flex;
        flex-direction: column;
        padding: 1rem 5rem;
        width: 20%;

        &-item{       
             background: none;
            border: none;
            position: relative;
            text-align: center;
            transition: transform .2s;
            font-size: 1.3rem;
            margin: 5%;

            margin-left: 10%;

            &:focus{
                outline: none;
            }
    
            &:active{
                transform: scale(.96);
            }
    
            &::before, &::after{
                content: '';
                position: absolute;                            
                background-color: rgb(0, 225, 255);
                transition: transform .2s ease-in;
                transform: scaleX(0);
            }
            &::after{
                height: 2px;
                width: 1.5rem;
                top: 50%;
                left: -2rem;                            
                transform-origin: right;
            }
    
            &::before{
                height: 2px;
                width: 1.5rem;
                top: 50%;
                right: -2rem;                            
                transform-origin: left;
            }
    
            &:hover{
                cursor: pointer;
            }
    
            &:hover::before, &:hover::after{
                transform: scaleX(1);
            }
    
            &:focus::before, &:focus::after{
                transform: scaleX(1);
            }
        }

    }

    &-def{
        width: 35%;
        padding: 5% 10%;
        font-size: 1.4rem;
        text-align: justify;

        &-price{
            font-size: 1rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 5%;

            & button{
                border: 1px solid rgb(0, 119, 255);
                background: none;
                text-transform: uppercase;
                font-weight: bold;
                height: 3rem;
                width: 5rem;
                color: rgb(95, 95, 95);

                &:hover{
                    cursor: pointer;
                    box-shadow: 0 2px 5px rgba(134, 134, 134, 0.473);
                    color: black;
                }

                &:active{
                    box-shadow: 0 1px 3px rgba(104, 104, 104, 0.473);
                }

                &:focus{
                    outline:none;
                    color: black;
                }
            }
        }
    }

}